<launch>
<arg name="ssl" default="true" />
<arg name="certfile" default="$(dirname)/cert.pem" />
<arg name="keyfile" default="$(dirname)/key.pem" />
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
	<arg name="port" default="9090" />
	<arg name="address" default="" />
	<arg name="ssl" default="$(arg ssl)" />
	<arg name="certfile" default="$(arg certfile)" />
	<arg name="keyfile" default="$(arg keyfile)" />
	<arg name="authenticate" default="false" />
</include>
<node name="web_video_server" pkg="web_video_server" type="web_video_server">
	<param name="port" value="8008" />
</node>
<node name="republish" pkg="image_transport" type="republish" args="compressed in:=/camera/image raw out:=/camera/image" />
</launch>
